/* CSS for RemoXBlock */

.remoxblock_block .count {
    font-weight: bold;
}

.remoxblock_block p {
    cursor: pointer;
}

.remox-answer-box {
    /* width: auto; */
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-right: 325px; */
    min-width: 400px;
    padding-left: 15px;
    border-radius: 3px;
}

.remox-key-box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 120px;
    padding-left: 11px;
}

.remox-wrong {
    border: 3px solid #a31f34;
}

.remox-right {
    border: 3px solid green;    
}

.remox-unsubmitted {
    border: 3px solid grey;    
}

.remox-score {
    font-size: 14px; 
}

.remox-red-x {
    color: #a31f34;
    font-size: 20px;
    left: 2px;
    margin-top: 17px;
    padding-left: 20px;
    position: relative;
    top: 1px;
}

.remox-green-check {
    color: green;
    font-weight: 900;
    font-size: 28px;
    margin-top: 17px;
    padding-left: 20px;
    position: relative;
    top: 3px;
    left: -6px;
}

.remox-answer-row {
    padding-top: 35px;
}

.remoxblock-error {
    color: green;
    font-weight: 900;
    font-size: 28px;
    margin-top: 17px;
    padding-left: 20px;
    position: relative;
    top: 3px;
    left: -6px;
}
